/* Stylesheet */
html, body {
  height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.35);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #228ae6;
}

header {
  padding: 20px;
}

#app {
  height: 100%;
  background: #fafafa;
  padding: 20px;
  overflow-x: hidden;
}

#website {
  font-weight: bold;
  font-size: 1.1em
}

.grid-item {
  width: 140px
}

.grid-item .inner-img {
  padding: 5px;
}

.grid-item .inner-img img {
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3)
}