* {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background-color: #fff;
  position: relative;
}

a {
  color: #4c65d7
}

.main.container {
  padding-top: 3em;
  padding-bottom: 150px;
}

.main.container p {
  font-size: 1.3em
}

footer.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 3em 0em;
  background: none;
}

footer.ui.footer.segment p {
  font-size: 1.1em
}

footer.ui.footer.segment p a {
  color: #4c65d7;
  font-weight: bold;
}

#dlButton {
  position: absolute;
  top: 40px;
  right: 30px;
  background: none;
  border: 2px solid #4c65d7;
  color: #4c65d7
}

h1.ui.header {
  font-size: 3.3em;
  font-weight: 900
}