* {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background-color: #fff;
  position: relative;
}

a {
  color: #21294d
}

.main.container {
  padding-top: 1em
}
.main.container p {
  font-size: 1.3em
}

#dlButton {
  position: absolute;
  top: 37px;
  right: 22px;
  background: none;
  border: 2px solid #4c65d7;
  color: #4c65d7
}

h1.ui.header {
  font-size: 3.5em;
  line-height: 1.2em;
  font-weight: 900;
  letter-spacing: -1px;
}

footer.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 3em 0em;
  background: none;
}

footer.ui.footer.segment p {
  font-size: 1.1em
}

footer.ui.footer.segment p a {
  color: #21294d;
  font-weight: bold;
}