<div id="webSearch" class="unicornArrow">
  <div class="ui action input fluid disabled">
    <input type="text" id="website" placeholder="Paste Website URL to Screenshot...">
  </div>
  <div class="ui buttons fluid" id="buttonBar">
    <div id="takeDesktop" class="ui button disabled" data-tooltip="Capture Desktop" data-position="top left" data-inverted="">
      <i class="fas fa-desktop"></i>
    </div>

    <div id="takeMobile" class="ui button disabled" data-tooltip="Capture Mobile" data-inverted="">
      <i class="fas fa-mobile-alt"></i>
    </div>

    <div id="takeThumbnail" class="ui button disabled" data-tooltip="Capture Thumbnail" data-inverted="">
      <i class="far fa-image"></i>
    </div>
    
    <div id="changeFolder" class="ui button" data-tooltip="Change Folder" data-inverted="">
      <i class="far fa-folder-open"></i>
    </div>

    <div id="settings" class="ui button" data-tooltip="Settings" data-inverted="" data-position="top right">
      <i class="far fa-cog"></i>
    </div>
  </div>
</div>

<div id="loading" style="display: none">
  <i class="far fa-spinner fa-spin"></i>
</div>


<div id="settingsPanel" class="unicornArrow" style="display: none">
  <div id="settingsPanelInner">
    <i class="fas fa-times" id="closeSettings"></i>
    <div class="ui checked toggle checkbox">
      <input type="checkbox" checked="">
      <label>Launch on Startup</label>
    </div>
    <div class="ui checked toggle checkbox" style="display: block;margin-top: 10px;">
      <input type="checkbox" id="settingsOptionClipboard" checked="">
      <label>Auto-Paste URL in Clipboard</label>
    </div>
  </div>
</div>