<div id="settingsPanel" class="unicornArrow" style="display: none">
  <div class="settingsPanelInner">
    <i class="fas fa-times-circle closeIcon" id="closeSettings"></i>
    <i class="fas fa-power-off closeIcon" id="closeApp"></i>
    <div class="ui checked toggle checkbox">
      <input type="checkbox"  id="settingsOptionStartup" checked="">
      <label>Launch on Startup</label>
    </div>
    <div class="ui checked toggle checkbox" style="display: block;margin-top: 10px;">
      <input type="checkbox" id="settingsOptionClipboard" checked="">
      <label>Auto-Paste URL in Clipboard</label>
    </div>
  </div>
</div>